@charset 'utf-8';

@font-face {
    font-family: 'NEXON Lv2 Gothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: none; */
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    vertical-align: middle;
    border: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: "NEXON Lv2 Gothic", sans-serif;
    font-size: 0.75em;
    /* overflow: hidden; */
}

/* 공통 */
.inner {
    width: 100%;
    max-width: 1280px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.clearfix::after {
    position: relative;
    content: '';
    width: 100%;
    display: block;
    clear: both;
}
.modal-wrap{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999999;

}
.modal-main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    padding: 50px;
}
.modal-main h2{
    font-size: 30px;
    margin-bottom: 30px;
    color: #333;
}
.modal-main p{
    font-size: 13px;
    line-height: 20px;
}
.modal-main p strong{
    font-weight: 700;
    color: #000;
    font-size: 14px;
}
.modal-close{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    
}
.top-bt{
    position: fixed;
    right: 2%;
    bottom: 10%;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    font-weight: bold;
    background-color: #191b1d;
    z-index: 99999;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    border: 0;
}
.top-bt:hover{
    background-color: #019fe8;
}
.mb-bt{
    display: none;
    position: fixed;
    right: 20px;
    top: 23px;
    z-index: 9999;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}
.mb-bt::before{
    content: '';
    display: block;
    width: 25px;
    height: 4px;
    background-color: #000;
}
.mb-bt-line{
    margin: 5px 0;
    display: block;
    width: 25px;
    height: 4px;
    background-color: #000;
}
.mb-bt::after{
    content: '';
    display: block;
    width: 25px;
    height: 4px;
    background-color: #000;
}
.mb-back{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9998;
    display: none;
}
.mb-wrap{
    position: fixed;
    right: -75%;
    top: 0;
    width: 75%;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    padding-top: 60px;
    transition: right 0.3s;
}
.mb-wrap .lang{
    top: 27px;
    right: 7%;
}
.mb-close{
    position: absolute;
    right: 2%;
    top: 30px;
    display: block;
    font-size: 20px;
    color: #888
}

.mb-depth1 > li{
    line-height: 50px;
    border-top: 1px solid #eee;

}
.mb-color{
    background-color: #000;
} 
.mb-depth1 > li:last-child{
    border-bottom: 1px solid #eee;
}
.mb-depth1 > li >a{
    padding: 0 15px;
    display: block;
    font-size: 16px;
    color: #3c6189;
    font-weight: 600;
}
.mb-depth2{
    display: none;
}
.mb-depth2 li{
    padding: 0 15px;
    background-color: #eee;
}
@media all and (max-width:600px){
    .mb-wrap .lang{
        right: 10%;
    } 
}
/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: block;
    z-index: 99;
    box-shadow: 1px 1px 8px rgb(0 0 0 / 10%);
    background-color: #fff;
    overflow: hidden;
    transition: height 0.3s;
}

.header .inner {
    width: 100%;




}

.header-logo {
    position: absolute;
    left: 5%;
    top: 14px;
    display: block;
    background: url(../images/main_logo.png) no-repeat center;
    background-size: cover;
    width: 133px;
    height: 42px;


}


.mainmenu {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
}

.mainmenu::before {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    background-color: #f8f8f8;
    width: 100vw;
    height: calc(100% - 70px);
}

.mainmenu>li {
    position: relative;
    display: inline-block;
    margin-left: 70px;
    vertical-align: top;
    margin-bottom: 40px;
}

.mainmenu>li:first-child {
    margin-left: 0;
}

.mainmenu>li>a {
    position: relative;
    font-family: 'NEXON Lv2 Gothic Bold';
    display: block;
    font-size: 21px;
    color: #222;
    line-height: 70px;
}

.header-depth2 {
    padding-top: 10px;
}

.header-depth2 li {}

.header-depth2 li a {
    color: #666;
    font-size: 15px;
    line-height: 35px;
    text-align: left;
}



.lang {
    position: absolute;
    right: 5%;
    top: 20px;
    width: 90px;
    height: 30px;
    background: #222;
    border-radius: 20px;
    padding: 10px 15px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.lang a {
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
}
.lang .lang-eng{
    color: #666;
    transition: color 0.1s;
}
.lang .lang-eng:hover{
    color: #999;
}
.lang::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
    height: 8px;
    width: 1px;
    border-right: 1px solid #fff;
}

@media all and (max-width : 1200px ){
    .mainmenu>li>a{
        font-size: 15px;
    }
}
@media all and (max-width : 1050px){
    .mainmenu{
        display: none;
    }
    .header .lang{
        right: 8%;
    }
    .mb-bt{
        display: block;
    }
}
@media all and (max-width : 650px){
    .header .lang{
        display: none;
    }
}
/* visual */

.sw-visual {
    position: relative;
}
.swiper-slide video{
    width: 100%;
}
.sw-visual-control {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 21vw;
    display: block;
    width: 70%;
    height: 100px;
    z-index: 9;
}

.sw-next {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 31px;
    height: 26px;
    background: url(../images/next.png) no-repeat center;
    cursor: pointer;
}

.sw-visual-pg {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 30px;
    text-align: right;

}
.sw-visual-pg span{
    font-size: 14px;
    font-weight: 500;
}

.time-bar {
    position: absolute;
    left: 0;
    bottom: 50px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.bar {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 50%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: width 0.3s;
}
@media all and (max-width : 1050px){
    .visual{
        margin-top: 70px;
    }
    .sw-visual-control{
        bottom: 10vw;
    }
}
/* company-info */
.company-info {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    margin-top: -21vw;
    z-index: 1;
    padding-top: 4.2vw;
    margin-bottom: 200px;
}

.company-info .inner {
    position: relative;
}

.company-info-top {
    text-align: center;
}

.bar2 {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 1px;
    height: 50px;
    background-color: #222;
    z-index: 1;
}

.company-info-top p {
    font-size: 66px;
    font-family: 'NEXON Lv2 Gothic Regular';
    font-weight: 300;
    padding-bottom: 15px;
}

.company-info-top h3 {
    font-size: 66px;
    font-family: 'NEXON Lv2 Gothic Bold';
    padding-bottom: 50px;
}

.company-info-left {
    padding-top: 15vw;
}

.company-info-right {
    position: absolute;
    left: 43%;
    top: 60%;
    transform: translateY(-30%);
}

.company-info-right img {
    width: 47.45vw;
}

.company-info-left p {
    font-size: 30px;
    padding-bottom: 55px;
    line-height: 1.6em;
    font-weight: bold;
    font-family: 'NEXON Lv2 Gothic Light';
}
@media all and (max-width : 1150px){
    .company-info .inner{
        padding: 2.5vw;
    }
    .company-info-left p{
        font-size: 25px;
    }
}
@media all and (max-width : 1050px){
    .company-info{
        margin-top: -10vw;
        margin-bottom: 38vw;
    }
    .company-info-left{
        padding-top: 5vw;
        text-align: center;
    }
    .company-info-right{
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
    }

}
@media all and (max-width : 800px){
    .company-info-top p,
    .company-info-top h3{
        font-size: 8.25vw;
    }
    .company-info-left p{
        font-size: 3vw;
        padding-bottom: 5vw;
    }
}
@media all and (max-width : 600px){
    .bar2{
        height: 8.6vw;
    }
}
/* interview */
.interview {
    position: relative;
    display: block;
    padding-top: 250px;
    padding-bottom: 380px;
    background: url(../images/main_mid_bg_02_new.jpg) no-repeat center;
    background-size: cover;
}

.interview .inner {
    position: relative;
    display: block;
    overflow: hidden;
}

.interview h2 {
    font-size: 65px;
    padding-bottom: 10px;
    font-family: 'NEXON Lv2 Gothic Bold';
    color: #222;
}

.sw-interview {
    position: relative;
}

.interview-box {
    margin-top: 50px;
}

.interview-left {
    position: relative;
    display: inline-block;
    margin-right: 100px;
    padding-left: 100px;
    vertical-align: bottom;
}

.interview-left img {
    width: 294px;
}

.interview-right {
    position: relative;
    display: inline-block;

}

.interview-right .interviewee {
    display: block;
    font-size: 18px;
    color: #cad401;
    font-family: 'NEXON Lv2 Gothic Bold';
    padding-bottom: 25px;
}

.interview-right h3 {
    font-size: 45px;
    font-family: 'NEXON Lv2 Gothic Bold';
    color: #222;
    padding-bottom: 65px;
    display: inline-block;
}

.interview-right span {
    display: inline-block;
    font-size: 18px;
    color: #999999;
    font-family: 'NEXON Lv2 Gothic';
    font-weight: normal;
    margin-left: 10px;
}

.interview-right h4 {
    position: relative;
    display: block;
    font-size: 33px;
    color: #222;
    font-family: 'NEXON Lv2 Gothic Bold';
    margin-bottom: 20px;
    line-height: 1.2em;
}

.interview-right p {
    font-size: 18px;
    line-height: 1.6em;
    padding-left: 18px;
    color: #222;
    font-family: 'NEXON Lv2 Gothic Light';
}

.sw-iv-control {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.sw-iv-control button {
    font-size: 20px;
    font-family: 'NEXON Lv2 Gothic Bold';
    color: #222;
    position: relative;
    display: inline-block;
    padding-right: 0;
    transition: right 0.2s;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.sw-iv-prev:hover {
    right: 10px;
}

.sw-iv-next:hover {
    right: -10px;
}

.sw-iv-prev-icon {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 8px;
    background: url(../images/slide_prev.png) no-repeat center;
    border: 0;

}

.sw-iv-control .iv-bar {
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #ddd;
    margin: 0 10px;

}

.sw-iv-next-icon {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 8px;
    background: url(../images/slide_next.png) no-repeat center;
    border: 0;
}
@media all and (max-width : 1150px){
    .interview .inner{
        padding: 2.5vw;
    }
}
@media all and (max-width : 1130px){
.interview h2{
    font-size: 50px;
}
.interview-left{
    padding-left: 6.8vw;
    margin-right: 6.8vw;
}
.interview-right{
    margin-bottom: 30px;
}
.interview-right .interviewee{
    font-size: 16px;
}
.interview-right h3{
    font-size: 35px;
    padding-bottom: 5vw;
}
.interview-right span{
    font-size: 16px;
}
.interview-right h4{
    font-size: 26px;
}
.interview-right p{
    font-size: 16px;
}
}
@media all and (max-width : 1000px){
.interview-left{
    display: block;
    text-align: center;
    margin-bottom: 3vw;
}
.interview-right{
    display: block;
    text-align: center;

}
}
@media all and (max-width : 800px){
    .interview{
        padding-top: 30vw;
    padding-bottom: 45vw;}
}
@media all and (max-width : 600px){
    .interview h2{
        font-size: 9vw;
    }
}
/* news */
.news {
    padding-bottom: 210px;
    position: relative;
}
.news h2 {
    font-size: 65px;
    padding-bottom: 80px;
    font-family: 'NEXON Lv2 Gothic Bold';
}

.news-gallery{
    width: 30%;
    margin-right: 5%;
    float: left;
}
.news-gallery:nth-child(4){
    margin-right: 0;
}


.news-gallery img {
    cursor: pointer;
    margin-bottom: 40px;
    width: 100%;
    font-size: 0;
}

.news-tag {

    font-size: 14px;
    font-weight: bold;
}

.news-bar {
    display: inline-block;
    width: 1px;
    height: 6px;
    background-color: #ddd;
}

.news-gallery span {
    font-size: 14px;
    color: #aeaeae;

}

.news-title {
    font-size: 24px;
    color: #191b1d;
    padding-top: 10px;
    display: block;
    font-weight: bold;
    min-height: 84px;
    white-space: wrap;
}

.news-gallery p {
    font-size: 15px;
    color: #888;
    line-height: 1.4em;
}
.news-more::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 50%;
    background-color: #019fe8;
    z-index: -1;

}
.news-more{
    position: absolute;
    right: 40px;
    top: 30px;
    display: inline-block;
    font-size: 24px;
    font-family: 'NEXON Lv2 Gothic Bold';
    transition: right 0.2s;
}
.news-more::after{
    content: '';
    position: absolute;
    display: inline-block;
    right: -30px;
    top: 50%;
    width: 17px;
    height: 8px;
    transform: translateY(-50%);
    background: url(../images/slide_next.png) no-repeat center;
}
.news-more:hover{
    right: 30px;
}
@media all and (max-width : 1150px){
    .news .inner{
        padding: 2.5vw;
    }
}
@media all and (max-width:1130px){
    .news h2{
        font-size: 50px;
    }
}
@media all and (max-width:800px){
    .news{
        padding-bottom: 25vw;
    }
    .news h2{
        padding-bottom: 10vw;
    }
    .news-gallery img{
        margin-bottom: 5vw;
    }
    .news-gallery{
        width: 100%;
        margin-right: 0;
        margin-bottom: 5vw;
    }
    .news-title{
        min-height: 60px;
        font-size: 26px;
    }
    .news-gallery p{
        font-size: 17px;
    }
}
@media all and (max-width:600px){
    .news h2{
        font-size: 9vw;
    }
}
/* careers */
.careers {
    position: relative;
    margin-bottom: 120px;
}

.careers h2 {
    font-size: 65px;
    padding-bottom: 80px;
    font-family: 'NEXON Lv2 Gothic Bold';
}

.careerspic {
    width: 100%;
    margin-bottom: 180px;
}

.careerstxt {
    position: absolute;
    left: 0;
    top: 68%;
    background-color: #fff;
    padding-top: 50px;
    padding-right: 65px;
}

.careerstxt p {
    font-size: 36px;
    font-family: 'NEXON Lv2 Gothic Bold';
    line-height: 1.2;
}
.careers-more::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #019fe8;
    z-index: -1;

}
.careers-more{
    position: absolute;
    right: 40px;
    top: 30px;
    display: inline-block;
    font-size: 24px;
    font-family: 'NEXON Lv2 Gothic Bold';
    transition: right 0.2s;
}
.careers-more::after{
    content: '';
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 17px;
    height: 8px;
    background: url(../images/slide_next.png) no-repeat center;
}
.careers-more:hover{
    right: 30px;
}
@media all and (max-width : 1150px){
    .careers .inner{
        padding: 2.5vw;
    }
}
@media all and (max-width:1130px){
    .careers{
        margin-bottom: 10.5vw;
    }
    .careers h2{
        font-size: 50px;
    }
    .careerspic{
        margin-bottom: 12.5vw;
    }
}
@media all and (max-width:1000px){
    .careerstxt{
        padding-top: 5vw;
        padding-right: 6.5vw;
    }
    .careerstxt p{
        font-size: 32px;
    }

}
@media all and (max-width:800px){
    .careerstxt p{
        font-size: 4vw;
    }
}
@media all and (max-width:600px){
    .careers h2{
        font-size: 9vw;
    }
}
/* footer */
.footer {
    background-color: #f3f3f3;
}

.footer .inner {}

.footer-top {
    position: relative;
    padding: 50px 0;
    padding-bottom: 60px;
}

.intro {
    float: left;
}

.intro p {
    margin-top: 20px;
    font-size: 13px;
    color: #999;
    line-height: 1.6em;
}

.ft-gnb {
    float: right;

}

.ft-menu {
    display: flex;
    justify-content: space-between;
}

.ft-menu>li {
    display: block;
    margin-right: 55px;
    text-align: left;

}

.ft-menu>li:last-child {
    margin-right: 0;
}

.ft-menu>li>a {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
    white-space: nowrap;

}

.ft-depth2 li a {
    display: inline-block;
    color: #999;
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
}

.ft-depth2 li:hover a {
    color: #000;
}

.footer-bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    content: '';
    max-width: none;
    width: 100vw;
    height: 1px;
    background-color: #ddd;
}

.footer-bottom {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy {
    font-size: 14px;
    color: #999;
    line-height: 1.6em;
    font-family: NEXON Lv2 Gothic Light;
}

.footer-depth1 {
    position: relative;
}

.footer-depth1>li {
    padding: 30px 0;
}

.footer-depth1>li>a {
    position: relative;
    display: block;
    width: 220px;
    color: #999;
    font-size: 14px;
}

.footer-depth1>li>a::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url(../images/arrow-top.png) no-repeat center;
}

.footer-depth2 {
    display: none;
    position: absolute;
    left: 0;
    top: -200px;
    z-index: 9;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

.footer-depth1>li:hover .footer-depth2 {
    display: block;
}

.footer-depth2 li {}

.footer-depth2 li a {
    width: 220px;
    color: black;
    padding: 12px 16px;
    display: block;
    background-color: #f1f1f1;
    white-space: nowrap;
}

.footer-depth2 li:hover a {
    background-color: #ddd;
}
@media all and (max-width : 1150px){
    .footer .inner{
        padding: 2.5vw;
    }
}
@media all and (max-width:880px){
    .intro{
        display: block;
        width:100%;
        text-align: center;
        margin-bottom: 5vw;
    }
    .intro p{
        font-size: 16px;
    }
    .ft-gnb{
        width: 100%;
    }
    .ft-menu > li{
        margin-right: 6.25vw;
    }
}
@media all and (max-width:480px){
    .ft-menu{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .ft-menu > li{
        width: 28vw;
        margin-right: 4vw;
        /* margin-bottom: 3vw; */
    }
    .ft-depth2 li a {
        font-size: 12px;
    }
    .intro p{
        font-size: 14px;
    }
    .footer-bottom{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .copy{
        display: block;
        width: 100%;
        text-align: center;
    }
    .footer-depth1{
        margin:0 auto;

    }
}