@charset 'utf-8';

@font-face {
    font-family: 'NEXON Lv2 Gothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: none; */
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    vertical-align: middle;
    border: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: "NEXON Lv2 Gothic", sans-serif;
    font-size: 0.75em;
    overflow-x:hidden ;
    /* font-weight: 400; */
}

/* 공통 */
.inner {
    width: 100%;
    max-width: 1280px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.clearfix::after {
    position: relative;
    content: '';
    width: 100%;
    display: block;
    clear: both;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: block;
    z-index: 99;
    box-shadow: 1px 1px 8px rgb(0 0 0 / 10%);
    background-color: #fff;
    overflow: hidden;
    transition: height 0.3s;
}

.header .inner {
    width: 100%;




}

.header-logo{
    position: absolute;
    right: calc(100% + 120px);
    top: 14px; 
    display: block;
    background: url(../images/main_logo.png) no-repeat center;
    background-size: cover;
    width: 133px;
    height: 42px;


}


.mainmenu{
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
}
.mainmenu::before{
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    background-color: #f8f8f8;
    width: 100vw;
    height: calc(100% - 70px);
}
.mainmenu > li {
    position: relative;
    display: inline-block;
    margin-left: 70px;
    vertical-align: top;
    margin-bottom: 40px;
}

.mainmenu > li:first-child{
    margin-left: 0;
}

.mainmenu>li>a {
    position: relative;
    font-family: 'NEXON Lv2 Gothic Bold';
    display: block;
    font-size: 21px;
    color: #222;
    line-height: 70px;
}
.header-depth2{
    padding-top: 10px;
}
.header-depth2 li{
}
.header-depth2 li a{
    color: #666;
    font-size: 15px;
    line-height: 35px;
    text-align: left;
}



.header-lang {
    position: absolute;
    left: calc(100% + 183px);
    top: 20px;
    width: 90px;
    height: 30px;
    background: #222;
    border-radius: 20px;
    padding: 10px 15px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;

}

.header-lang a {
    color: #fff;
    display: inline-block;
    font-size: 11px;
}

.header-lang::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
    height: 8px;
    width: 1px;
    border-right: 1px solid #fff;
}


/* visual */
.visual {
    position: relative;
    width: 100%;
    height: 100%;
}

.sw-visual {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;


}

.visual video {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.sw-control {
    position: absolute;
    display: block;
    right: 10%;
    bottom: 45%;
    z-index: 999;
    margin: 0 auto;
}

.sw-visual-pg {
    width: 100%;
    height: 100%;
    font-size: 17px;
    color: #fff;
}

.sw-visual-next {
    width: 31px;
    height: 26px;
    background: url(../images/next.png) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.scrollbar{
    position: absolute;
left: 50%;
transform: translateX(-50%);
top: 100px;
    width: 80%;
    height: 3px;
    background-color: #666;
    z-index: 99999;
}
.scrollbar:hover .scrollbar-1{
    width: 50%;
}
.scrollbar-1{
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.5s;
}
/* company-info */
.company-info {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    margin-top: -410px;
    z-index: 1;
    padding-top: 100px;
    margin-bottom: 200px;
}

.company-info .inner {
    position: relative;
}

.company-info-top {
    text-align: center;
}

.bar {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 1px;
    height: 50px;
    background-color: #222;
    z-index: 1;
}

.company-info-top p {
    font-size: 66px;
    font-family: 'NEXON Lv2 Gothic Regular';
    font-weight: 300;
    padding-bottom: 15px;
}

.company-info-top h3 {
    font-size: 66px;
    font-family: 'NEXON Lv2 Gothic Bold';
    padding-bottom: 50px;
}

.company-info-left {
    float: left;
    padding-top: 280px;
}

.company-info-right {
    position: absolute;
    left: 43%;
    top: 60%;
    transform: translateY(-30%);
}

.company-info-right img {
    width: 47.45vw;
}

.company-info-left p {
    font-size: 30px;
    padding-bottom: 55px;
    line-height: 1.6em;
    font-weight: bold;
    font-family: 'NEXON Lv2 Gothic Light';
}

/* interview */
.interview {
    position: relative;
    display: block;
    padding-top: 250px;
    padding-bottom: 380px;
    background: url(../images/main_mid_bg_02_new.jpg) no-repeat center;
    background-size: cover;
}

.interview .inner {
    position: relative;
    display: block;
    overflow: hidden;
}

.interview h2 {
    font-size: 65px;
    padding-bottom: 10px;
    font-family: 'NEXON Lv2 Gothic Bold';
    color: #222;
}

.sw-interview {
    position: relative;
}

.interview-box {
    margin-top: 50px;
}

.interview-left {
    position: relative;
    display: block;
    margin-right: 100px;
    float: left;
    padding-left: 100px;
}

.interview-left img {
    width: 294px;
}

.interview-right {
    position: relative;
    display: block;
    float: left;
}

.interview-right .interviewee {
    display: block;
    font-size: 18px;
    color: #cad401;
    font-family: 'NEXON Lv2 Gothic Bold';
    padding-bottom: 25px;
}

.interview-right h3 {
    font-size: 45px;
    font-family: 'NEXON Lv2 Gothic Bold';
    color: #222;
    padding-bottom: 65px;
    display: inline-block;
}

.interview-right span {
    display: inline-block;
    font-size: 18px;
    color: #999999;
    font-family: 'NEXON Lv2 Gothic';
    font-weight: normal;
    margin-left: 10px;
}

.interview-right h4 {
    position: relative;
    display: block;
    font-size: 33px;
    color: #222;
    font-family: 'NEXON Lv2 Gothic Bold';
    margin-bottom: 20px;
    line-height: 1.2em;
}

.interview-right p {
    font-size: 18px;
    line-height: 1.6em;
    padding-left: 18px;
    color: #222;
    font-family: 'NEXON Lv2 Gothic Light';
}

.sw-iv-control {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.sw-iv-control button {
    font-size: 20px;
    font-family: 'NEXON Lv2 Gothic Bold';
    color: #222;
    position: relative;
    display: inline-block;
    padding-right: 0;
    transition: all 0.2s;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.sw-iv-control button:nth-child(1):hover {
    padding-right: 15px;
}

.sw-iv-control button:last-child:hover {
    padding-right: -15px;
}

.sw-iv-prev {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 8px;
    background: url(../images/slide_prev.png) no-repeat center;
    border: 0;

}

.sw-iv-control .iv-bar {
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #ddd;
    margin: 0 10px;

}

.sw-iv-next {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 8px;
    background: url(../images/slide_next.png) no-repeat center;
    border: 0;
}

/* news */
.news .inner {
    padding-bottom: 210px;
    position: relative;
}

.news h2 {
    font-size: 65px;
    padding-bottom: 80px;
    font-family: 'NEXON Lv2 Gothic Bold';
}

.news-gallery {
    width: 30%;
    margin-right: 5%;
    float: left;
}

.asd {
    margin-right: 0%;
}

.news-gallery img {
    cursor: pointer;
    margin-bottom: 40px;
    width: 100%;
}

.news-tag {

    font-size: 14px;
    font-weight: bold;
}

.news-bar {
    display: inline-block;
    width: 1px;
    height: 6px;
    background-color: #ddd;
}

.news-gallery span {
    font-size: 14px;
    color: #aeaeae;

}

.news-title {
    font-size: 24px;
    color: #191b1d;
    padding-top: 10px;
    display: block;
    font-weight: bold;
    min-height: 84px;
    white-space: wrap;
}

.news-gallery p {
    font-size: 15px;
    color: #888;
    line-height: 1.4em;
}

/* careers */
.careers .inner {
    position: relative;
    margin-bottom: 120px;
}

.careers h2 {
    font-size: 65px;
    padding-bottom: 80px;
    font-family: 'NEXON Lv2 Gothic Bold';
}

.careerspic {
    margin-bottom: 180px;
}

.careerstxt {
    position: absolute;
    left: 0;
    bottom: 5.2vw;
    background-color: #fff;
    padding-top: 50px;
    padding-right: 65px;
}

.careerstxt p {
    font-size: 36px;
    font-family: 'NEXON Lv2 Gothic Bold';
    line-height: 1.2;
}

/* footer */
.footer {
    background-color: #f3f3f3;
}

.footer .inner {

}
.footer-top{
    position: relative;
    padding: 50px 0;
    padding-bottom: 60px;
}
.intro {
    float: left;
}

.intro p {
    margin-top: 20px;
    font-size: 13px;
    color: #999;
    line-height: 1.6em;
}

.ft-gnb {
    float: right;

}

.ft-menu {
    display: flex;
    justify-content: space-between;
}

.ft-menu>li {
    display: block;
    margin-right: 55px;
    text-align: left;

}
.ft-menu>li:last-child{
    margin-right: 0;
}

.ft-menu>li>a {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;

}

.ft-depth2 li a {
    display: inline-block;
    color: #999;
    font-size: 14px;
    margin-bottom: 10px;
}
.ft-depth2 li:hover a{
    color: #000;
}

.footer-bar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    content: '';
    max-width: none;
    width: 100vw;
    height: 1px;
    background-color: #ddd;
}

.footer-bottom {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copy{
    font-size: 14px;
    color: #999;
    line-height: 1.6em;
    font-family: NEXON Lv2 Gothic Light;
}

.footer-depth1 {
    position: relative;
}
.footer-depth1 > li{
    padding: 30px 0;
}
.footer-depth1 > li > a{
    position: relative;
    display: block;
    width: 220px;
    color: #999;
    font-size: 14px;
}
.footer-depth1 > li > a::after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url(../images/arrow-top.png) no-repeat center;
}
.footer-depth2 {
    display: none;
    position: absolute;
    left: 0;
    top: -200px;
    z-index: 9;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

.footer-depth1 > li:hover .footer-depth2{
    display: block;
}

.footer-depth2 li {}

.footer-depth2 li a {
    width: 220px;
    color: black;
    padding: 12px 16px;
    display: block;
    background-color: #f1f1f1;
}
.footer-depth2 li:hover a {
    background-color: #ddd;
}
